body {
  margin: 0;
  padding: 0;
  background-color: #222020;
}


/* .container {
    width: 100%;
    max-width: 700px;

} */


.navbar {
  overflow: hidden;
  width: 700px;
  margin: auto;
}

.navbar a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

h2 {
   text-align: center;
}


.navbar span:hover {
    color: #e50053;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
  float: right;
  color: white;
}
  
  /* Add a color to the active/current link */
.navbar a.active {
    color: #e50053;
}



.bio {
  text-align: center;
  color: whitesmoke;
}

.center {
  text-align: center;
}

.links {
  text-align: center;
  color: whitesmoke;

}

.links span:hover {
  color: #e50053;
}
