#container{
  height:200px;
  display: flex;
  align-items: flex-end;
}

body {
  display:flex;
  margin: 0;
  padding: 0;
  background-color: #292929;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  font-family: 'Rubik';
}

hr {
  color: whitesmoke;
}

.container {
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}




.navbar {
  overflow: hidden;
  width: 700px;
  margin: auto;
}

.navbar a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}




.navbar span:hover {
    /* color: #f58f7c; */
    color: #7395ae;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
  float: right;
  color: whitesmoke;
}
  
  /* Add a color to the active/current link */
.navbar a.active  {
  color: #7395ae;
    
}



.bio {
  text-align: center;
  color: whitesmoke;
}





.skills {
  text-align: center;
  color: whitesmoke;
}


.skills p{
  text-align: center;
  color: whitesmoke;
}



.center {
  text-align: center;
}

.links {
  text-align: center;
  color: #7395ae;
  font-size: 20px;

}




.projects {
  color: whitesmoke
}

.projects a {
  color: #7395ae;
}




.experience {
  color: whitesmoke;
}

.experience span {
  font-size: 18px;
}




