@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: #fff;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;
}



/* CHANGE ALL MY COLORS HERE INSTEAD FOR ORGINISNAD */
:root {
  --white: #fff
}



/* This container holds both the Navbar and Home page */
.page-container {
  width: 800px; 
  /* width: 62%; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Navbar fits inside the container */
.navbar {
  width: 100%;
  display: flex;
  /* margin-bottom: -10px; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.nav-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.nav-item:hover {
  color: #aaa;
}







/* Home Page Content */
.home-content {
  /* text-align: center; */
  width: 100%;
  margin-top: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}


.description {

  margin-top: -20px;
  font-size: 24px;
  color: #b0b0b0;
}

.description p {
  margin-top: 25px;
  font-size: 18px;
}


.buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}



/* Button styling */
.btn {
  background: #1e1e1e;
  padding: 12px 24px;
  /* padding: 14px 20px; */
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  /* min-width: 120px; */
  /* align-items: center; */
  /* justify-content: center;  */
  gap: 8px; 
}



.btn-content {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #fff;
}


.btn:hover {
  background: #333;
  transform: scale(1.05);
}

.btn-text {
  font-size: 20px;
  font-weight: 400;
  margin-top: 1px;
}

/* Moves the icon up slightly */
.download-icon {
  position: relative;
  top: -5px; 
}



.map-icon {
  position: relative;
  top: 5px; 
  margin-right: 5px;
}


a {
  text-decoration: none;
  color: #fff;
}


a:hover {
  color: #aaa; 
}







/* Work Section */
.work-section {
  margin-top: 75px;
}



/* Full-Width Tab Bar */
.tab-bar {
  display: flex;
  background: #3b4046;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* Tab Options */
.tab-option {
  flex: 1; 
  padding: 12px 0;
  font-size: 16px;
  text-align: center;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
}


/* Highlight Active Tab */
.tab-option.active {
  color: #181818; 
  font-weight: bold;
}

/* Sliding Tab */
.tab-indicator {
  position: absolute;
  width: 50%; 
  height: 75%;
  background-color: #fff;
  border-radius: 12px;
  z-index: 1;
  top: 12%;
}

/* Tab Content */
.tab-content {
  background: #181818;
  padding: 20px;
  border-radius: 12px;
  border-color: #fff;
  margin-top: 20px;
  color: #fff;
}




/* Timeline Container */
.timeline-container {
  position: relative;
  /* margin-top: 20px; */
  height: 100%;
}

/* Vertical Timeline Line */
.timeline-container::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #555;
}

/* Timeline Item */
.timeline-item {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  position: relative;
}

/* Timeline Icon */
.timeline-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.timeline-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Timeline Content */
.timeline-content {
  background: #181818;
  padding: 10px 15px;
  border-radius: 8px;
  margin-left: 50px;
  color: #fff;
  /* max-width: 800px; */
}

.timeline-content h3 {
  margin: 0;
  font-size: 18px;
}

.timeline-content p {
  margin: 5px 0;
  font-size: 14px;
  color: #bbb;
}

.timeline-date {
  font-size: 12px;
  color: #888;
}


/* Description */
.job-description {
  margin-top: 8px;
  padding-left: 20px;
  list-style-type: disc;
  color: #ccc;
  font-size: 14px;
}

.job-description li {
  margin-bottom: 5px;
}







/* Skills Section */
.skills-section {
  margin-top: 40px;
  /* text-align: center; */
}


.skills-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 12px;
  margin-top: 15px;
}


.skill-tag {
  background: #333;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s ease;
}

.skill-tag:hover {
  background: #555;
  transform: scale(1.05);
}







/* Projects Section */
.projects-section {
  margin-top: 50px;
  text-align: center;
  /* padding: 20px; */
}

/* Header */
.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
}

.projects-header .view-more {
  color: #bbb;
  font-size: 20px;
  text-decoration: none;
}

.projects-header .view-more:hover {
  color: white;
}

/* Project Cards Container */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 75px;
}

/* Project Card */
.project-card {
  background: #181818;
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  text-align: left;
  padding-bottom: 10px;
  /* transition: transform 0.3s ease-in-out; */
}



.project-image {
  width: 100%;
  height: 200px;
}

/* Project Content */
.project-content {
  padding: 15px;
}

.project-content h3 {
  margin-top: -5px;
  margin-bottom: 5px;
}

.project-content p {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 10px;
}

/* Project Tags */
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.project-tag {
  background: #222;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

/* Project Buttons */
.project-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.project-button {
  background: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}

.project-button:hover {
  background: #555;
}











/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-top: 2px solid #333;
  width: 90%;
  position: relative;
  bottom: 0;
}


.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 40px;
  height: auto;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}


.footer-logo:hover {
  transform: rotate(90deg);
}

/* Right Side - Social Icons */
.footer-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Social Icons */
.footer-icon {
  width: 26px;
  height: 26px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.2);
  color: #bbb;
}


